<form ng-submit="Save()">
    <div class="form-group">
        <label for="InputDescription">Description</label>
        <input type="text" class="form-control" id="InputDescription" aria-describedby="descriptionHelp" placeholder="Enter Description" ng-model="CourseData.Description" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
