@model CollegeSystem.Models.Entity.SubjectEntity

@{
    ViewBag.Title = "Create - Subject";
}

<h2>Create - Subject</h2>

<div ng-controller="SubjectController" ng-init="GetSubject(0,false)">
    @Html.Partial("Template/TemplateForm")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
