@model CollegeSystem.Models.Entity.GradeEntity

@{
    ViewBag.Title = "Create - Grade";
}

<h2>Create - Grade</h2>

<div ng-controller="GradeController" ng-init="GetGrade(0,false)">
    @Html.Partial("Template/TemplateForm")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
