@model CollegeSystem.Models.Entity.GradeEntity

@{
    ViewBag.Title = "Edit - Grade";
}

<h2>Edit - Grade</h2>

<div ng-controller="GradeController" ng-init="GetGrade(@Model.IdGrade,true)">
    @Html.Partial("Template/TemplateForm")
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
